<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Views</th>
            <th>Applicants</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Title</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
    </tbody>
</table>